# Git ignore file for Inertial_Localization
.git
3rdParty/
build/
test_package/python/.idea
test_package/python/__pycache__
test_package/python/**/__pycache__
test_package/python/python_binding/CMakeCache.txt
test_package/python/python_binding/CMakeFiles/
data/temp_results/
data/reference_paths/
old_and_unused_code/
.idea
cmake-bin/
.vscode/

# Ignore specific files in Tests/python/python_binding
test_package/python/python_binding/CMakeFiles/**/*
test_package/python/python_binding/**/*.cmake
test_package/python/python_binding/**/*.bin
test_package/python/python_binding/**/*.exe
test_package/python/python_binding/CMakeFiles/
test_package/python/python_binding/CMakeFiles/3.28.1/